<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Login Page</title>
        <link rel="stylesheet" href="style/login.css">
    </head>

    <body>
        <div class="loginForm">
            <form action="/login" method="POST">
                <div class="loginArea"> 
                    <input type="email" name="email" placeholder="Enter your email account" required>
                    <input type="password" name="password" placeholder="Enter the password" required>
                    <button type="submit" ><strong> Login </strong></button>
                </div>
            </form>
        </div>

        <img src="images/loginImg.png">
    </body>

</html>